*{
    border: 0;
    margin: 0;
    padding: 0;   
}

.cabeza{
    display: flex;
    margin: 0 34px;
    padding: 25px;
    margin-left: 6.5rem;
}
nav{
    background-color: #f4f3f8;
    
}
.logo{
    width: 203px;
    height: 48.86px;
    
}
.buscador input{
    padding: 8px 35px 8px 15px;
    margin-left: 3.5rem;
    width: 489.7px;
    height: 29px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    color: #8b99a7;
    font-size: .8rem;
    position: static;
}
.buscador img{
    position: absolute;
    width: 1.7%;
    margin-left: 34.8rem;
    margin-top: 8px;
}

.imagen{
    width: 100%;
    
}
.palabras{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #01324c;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
}
.palabras .i1{
    width: 4.2%;
    margin-left: 2rem;
}
.palabras .i2{
    width: 5%;
    margin-left: 2rem;
}
.sesion{
    display: flex;
    margin-left: 20px;
}
.servicio{
    margin-left: 2rem;
}
.exterior{
    width: 1.8%;
    height: 20%;
    margin-left: 2px;
}
.usuario{
    width: 6%;
    margin-left: 2rem;
}
.pe{
    margin-left: .8rem;
}
.panel-padre{
    background-color: #343d55;
}
.panel{
    display: flex;
    margin-left: 8rem;
    color: white;
    font-size: 13px;
    align-items: center;
    padding: 12px;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.panel a{
    color: white;
    text-decoration: none;
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
main .inicio-1{
    color: #353535;
}
.dos2{
    color: #004280;
    margin-left: 2rem;
}
body{
    background-color: #f4f3f8;
}
main{
    margin-top: 2rem;
    margin-left: 8.5rem;
    
}
.contenedor{
    display: flex;
    font-weight: bold;
}
.titulogrande{
    color: #01324c;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}
.parrafosLargos{
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.comprar{
    font-size: 1.5rem;
}
.item{
    color: #838383;
    margin-left: 8.5rem;
}
.orden{
    color: #343d55;
    margin-left: 44.5rem;
    font-weight: bold;
}
.nombreP{
    margin-left: .6rem;
    border-radius: 5px;
    border: 1px solid #004280;
    padding: 16px 12px;
    height: 15px;
}
.cuadro-precio{
    background-color: white;
    width: 13rem;
    height: 10rem;
    padding: 1rem;
    margin-top: 2rem;
}
.texto{
    color: #004280;
    font-size: 1.2rem;
}
.precios{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.imagenF1{
    background-color: #01324c;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    margin-top: 3px;
}
.imagenF2{
    background-color: #01324c;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    margin-top: 3px;
    margin-left: 12.2rem;
}
.linea{
    background-color: #dadada;
    height: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
.six{
    display: flex;
    margin-top: 2rem;
    color: #004280;
    font-weight: bold;
    width: 14rem;
    align-items: center;
}
.oka{
    background-color: #004280;
    border: 1px solid #004280;
    color: #fff;
    border-radius: 5px;
    margin-left: 3rem;
    font-size: .9rem;
    padding: 10px 23px;
}
.separar{
    display: flex;
}
.separar2{
    display: flex;
    margin-left: 16.7rem;
    width: 94rem;
    margin-top: 1rem;
}
.seccion-portada{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    margin-left: -11.5rem;
    width: 94rem;
}
.portadas{
    font-size: 20px;
    width: 18%;
    display: flex;
    flex-direction: column;
}

.corazon{
    width: 35%;
    margin-top: .7rem;
    margin-left: 1.1rem;
    
}
.corazon-caja{
    position: absolute;
    width: 3.3%;
    height: 6%;
    margin-top: 17rem;
    margin-left: 11rem;
    background-color: #f4f3f8;
}
.boton{
    display: flex;
    margin-top: 2rem;
    background-color: #28c76f;
    color: white;
    justify-content: center;
    padding: 15px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 213.75px;
}
.carro{
    width: 8%;
    margin-right: 10px;
    
}
.cartel{
    margin-left: 2rem;
    width: 171px;
    height: 180px;
    margin-top: 3.5rem;
}
.c{
    background-color: white;
    width: 88%;
    height: 20.2rem;
    
}
.primero{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    width: 238px;
    color: #24262f;
    font-weight: bold;
    
}
.segundo{
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #24262f;
    font-weight: bold;
}
.tienda{
    position: absolute;
    margin-top: 8rem;
    margin-left: 5.7rem;
    width: 87.1%;
}
footer .portada{
    background-color: #01324c;
    height: 18.5rem;
    position: relative;
    background-image: url(https://tiendapanini.cl/static/version1714095366/frontend/Panini/Chile/es_CL/images/news-back.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: -7%;
    background-position-y: 48%;
    margin-top: 4rem;
    
}
.portada-dentro{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 3rem;
    align-items: center;
}
.portada-dentro a{
    color: #8ab5ff;
    margin-left: 5px;
}
.letra1{
    color: yellow;
    font-size: 1.4rem;
    font-weight: 800;
}
.letra2{
    font-weight: bold;
    margin-top: 8px;
}
.letra3{
    margin-top: 8px;
    width: 260px;
    height: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    color: #8b99a7;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 16px 12px;
    
    
}
.letra3-1{
    margin-top: 8px;
    margin-left: 1.5rem;
    width: 420px;
    height: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    color: #8b99a7;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 16px 12px;
}
.cuadrado{
    margin-left: 27.55rem;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    width: 17px;
    height: 18px;
}
.letra3-2{
    margin-left: 1rem;
}
.letra4{
    color: #01324c;
    background-color: yellow;
    padding: 16px;
    width: 9rem;
    border-radius: 4px;
    margin-left: 25rem;
    font-weight: bold;
    text-align: center;
}
.h4{
    margin-left: 5.5rem;
    margin-top: 5rem;
}
.h5{
    margin-left: 8px;
    margin-top: 4.8rem;
}
.h5-1 p{
    margin-left: 24px;
    margin-top: 4.8rem;
}
.final{
    display: flex;
    width: 85%;
    margin-left: 5.5rem;
    margin-top: 3.5rem;
    justify-content: space-between;
}
.foto-final{
    width: 11%;
    height: 11%;
    margin-top: 1.1rem;
    
}
.uno{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.dos{
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.tres{
    color: #24262f;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(0, 66, 128, .3);
    width: 82rem;
}
.tres img{
    width: 2%;
    height: 2%;
    margin-left: 2rem;
}
.final-footer{
    margin-bottom: 2rem;
    text-align: center;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    margin-left: 3.7rem;
    color: #24262f;
}